@font-face {
    font-family: 'SF Pro Display-Medium';
    src: url('../fonts/SF-Pro-Display-Medium.otf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display-Semibold';
    src: url('../fonts/SF-Pro-Display-Semibold.otf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display-Regular';
    src: url('../fonts/SF-Pro-Display-Regular.otf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display-Light';
    src: url('../fonts/SF-Pro-Display-Light.otf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display-Bold';
    src: url('../fonts/SF-Pro-Display-Bold.otf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display-Black';
    src: url('../fonts/SF-Pro-Display-Black.otf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display-Heavy';
    src: url('../fonts/SF-Pro-Display-Heavy.otf');
    font-style: normal;
    font-display: swap;
}